<div id="topbar" class="flex items-center justify-between p-4 border-b border-gray-700">
  <div class="text-sm text-gray-400 truncate">
    <a href="{{site.baseurl}}/">
    <i class="fa-solid fa-code text-blue-400"></i>
    {{site.title}} <span class="font-bold text-blue-400">(L Y Я A)</span>
    </a>
  </div>
  <div class="flex items-center gap-3">
  {% if page.url == '/pricing' %}
  {% else %}
    <a href="{{site.baseurl}}/pricing" class="text-sm bg-pink-700 hidden md:block text-white px-3 py-1 rounded">Upgrade PRO</a>
  {% endif %}
    <button
      onclick="downloadHTML()"
      id="download-button"
      class="cursor-pointer md:hidden w-8 h-8 text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 text-center font-medium rounded-full text-sm p-2"
      title="Download HTML"
    >
      <i class="fa-solid fa-download"></i>
    </button>

    <button
      onclick="showPreview()"
      id="preview-button"
      class="cursor-pointer md:hidden w-8 h-8 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 text-center font-medium rounded-full text-sm p-2"
      title="Preview"
    ><i class="fa-solid fa-eye"></i></button>
    <img src="https://placehold.co/32x32" alt="Profile" class="rounded-full w-8 h-8">
  </div>
</div>
